/*.container {
    background-image: url('src\assets\pictures\pexels-huỳnh-đạt-3262277.jpg');
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center;
    width: 100%;
}*/

